
#root {
 /* max-width: 1280px;*/
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.parent {
  display: flex;
  flex-direction: column;

}

.images {
  width: 250px;
  margin-top: 50px;
}

.singleImg{
  width: 300px;
}

.bookContainer{
  display: flex;
  
}
.flexItem {
  justify-content: space-around;
}

.bookTitle{
  text-align: center;
  margin-bottom: 30px;
  
}

.logo_name {
  font-family: 'Cedarville Cursive', cursive;
  margin: 20px 0px 20px 0px;
}

.biography {
  margin: 15px 0px 15px 0px;
}

.must_read {
  font-family: 'Cedarville Cursive', cursive;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.title_author { 
text-align: center;
margin-bottom: 30px;
}

.bookinfo {
  margin-top: 30px;
  margin-bottom: 30px;
}

.quote {
  font-family: 'Cedarville Cursive', cursive;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 30px;
  margin-top: 30px;
}